body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;

}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #fff;
    width: 500px;
    margin-left: 800px;
    background-color: #bdaa94;
    
}
thead {
    border: 1px solid #fff;
    background-color: #8e7a64;
}
tbody{
    border: 1px solid #fff;
}
header {
    background-color: #8e7a64;
    padding: 10px;
    text-align: center;
    border: 1px solid #fff;
}
footer {
    background-color: #8e7a64;
    padding: 10px;
    font-size: 8px;
    border: 1px solid #fff;
}
input{
    height: 20px;
    border: 1px solid #fff;
    transition: 0.03;
    cursor: pointer;

}
button {
    background-color: #bdaa94;
    transition: 0.03;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px ;
    margin-left: 860px;
    margin-top: 10px;
    padding: 10px 40px;
}
button:hover{
    background-color: #8e7a64;
}
#nobru {
    margin-left: 860px;
    margin-top: 10px;   

}
td{
    border: 1px solid #fff;
    text-align: center;
    padding: 8px;
}